/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;500;600;700&display=swap");
/* tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

.tint-image {
  background:  
    /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://images.unsplash.com/photo-1542751371-adc38448a05e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");

  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}
.link {
  text-decoration: none;
  color: inherit;
}
.Toastify__toast-body {
  white-space: pre-line;
}
.heartFilled {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

@layer components {
  .grid-layout {
    grid-template-columns: 250px 1fr 300px;
  }
  .modalPostion {
    transform: translate(-50%, -50%);
  }
}
